@import url(https://fonts.googleapis.com/css?family=Nunito:300);

body {
  font-family: "Nunito", sans-serif;
  width: 100wh;
  height: 100%;
  text-align: center;
}

.new_team {
  margin-top: 10%;
}

.title {
  font: bold 48pt "Trebuchet MS";
  text-align: center;
  color: #6c7;
  letter-spacing: -2px;
}

.title span {
  font-weight: normal;
  color: #bbb;
}

.form_field {
  background: #fff;
  color: #a3a3a3;
  font: inherit;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  border: 0;
  outline: 0;
  padding: 22px 18px;
  margin: 8px 0;
}

.button {
  background: #0d6;
  color: #fff;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.4);
  border: 1px solid #0d6;
  padding: 20px 5px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 300;
  position: relative;
  top: 50px;
}

.button:hover,
.button:active {
  background: #fff;
  color: #0c5;
  border-color: #0c5;
  text-decoration: none;
}

@media only screen and (max-width: 480px) {
  body {
    font-size: 15px;
  }
  
  .title {
    font-size: 45px;
  }

  .form_field {
    width: 200px;
  }

  .button {
    font-size: 20px;
  }
} 

@media only screen and (min-width: 480px) {
  body {
    font-size: 20px;
  }
  
  .title {
    font-size: 60px;
  }

  .form_field {
    width: 360px;
  }

  .button {
    font-size: 30px;
  }
} 

@media only screen and (min-width: 600px) {
  body {
    font-size: 30px;
  }
  
  .title {
    font-size: 75px;
  }

  .form_field {
    width: 480px;
  }

  .button {
    font-size: 42px;
  }
} 

@media only screen and (min-width: 768px) {
  body {
    font-size: 35px;
  }
  
  .title {
    font-size: 90px;
  }

  .form_field {
    width: 600px;
  }

  .button {
    font-size: 50px;
  }
} 

@media only screen and (min-width: 992px) {
  body {
    font-size: 40px;
  }
  
  .title {
    font-size: 100px;
  }

  .form_field {
    width: 650px;
  }

  .button {
    font-size: 55px;
  }
} 

@media only screen and (min-width: 1200px) {
  body {
    font-size: 30px;
  }

  .title {
    font-size: 90px;
  }

  .form_field {
    width: 500px;
  }

  .button {
    font-size: 45px;
  }
}