@import url(https://fonts.googleapis.com/css?family=Nunito:300);

body {
	font-family: "Nunito", sans-serif;
	font-size: 24px;
	width: 100%;
    height: 100%;
    text-align: center;
}

.new_team {
	margin-top: 10%;
}

.title {
	font:bold 48pt "Trebuchet MS";
	text-align: center;
	color: #6C7;
	letter-spacing: -2px;
}

.title span {
	font-weight: normal;
	color: #BBB;
}

.button {
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #0C5;
	font-weight: 300;
	padding: 20px 5px;
	width: 360px;
	height:30px;
	background: #0D6;
	border: 1px solid #0D6;
	color: #FFF;
	text-decoration: none;
	position: relative;
	top: 50px;
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.4);
}

.button:hover,
.button:active {
	text-decoration: none;
	color: #0C5;
	border-color: #0C5;
	background: #FFF;
}

.form_field {
	width: 360px;
	background: #fff;
	color: #a3a3a3;
	font: inherit;
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
	border: 0;
	outline: 0;
	padding: 22px 18px;
	margin: 8px 0;
}