{% extends "base.html" %}

{% block content %}
    <div class="new_team">
		<h1 class="title">HackerRank<span>.Info</span></h1>

		<form action="/team/create" method="post">
            <input class="form_field" type="text" placeholder="Team name" name="team_name"
				   required pattern="^[\wа-яА-ЯіІ їЇ]{2,30}$" maxlength="30" size="30" value=""><br>
		  	<input class="form_field" type="email" placeholder="Coach E-mail address" name="email"
				   pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" value=""><br>
			<input class="form_field" type="password" placeholder="Password" name="password"
				   autocomplete="on" maxlength="24" size="24" value=""><br>
            <input class="button" type="submit" value="Create Team">
		</form>

	</div>
{% endblock %}